//
//  macSVGPluginConfig.xcconfig
//  
//
//  Created by Douglas Ward on 10/17/16.
//
//
//  Disabled HEADER_SEARCH_PATHS and FRAMEWORKS_SEARCH_PATHS due to this error - Argument list too long: recursive header expansion failed at /Users/dsward/Documents/ArkPhone_LLC_Projects/macSVG_Project/../../../.cocoapods/repos/master/Specs/AGDefines.


//:configuration = Debug
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES

//:configuration = Release
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES

//:completeSettings = some

//:configuration = Debug
HEADER_SEARCH_PATHS = "$(SRCROOT)/../../../"/**  $(inherited) "\"$(SRCROOT)/../../macSVGPlugin Framework/MacSVGPlugin/**\""

//  HEADER_SEARCH_PATHS = "$(SRCROOT)/../../../"/**  $(inherited) /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include

//  FRAMEWORKS_SEARCH_PATHS = ${TARGET_BUILD_DIR} "$(SRCROOT)/../../../"/**

//  HEADER_SEARCH_PATHS = "\"$(SRCROOT)/../../macSVGPlugin Framework/MacSVGPlugin/**\"";


//:configuration = Release
HEADER_SEARCH_PATHS = "\"$(SRCROOT)/../../macSVGPlugin Framework/MacSVGPlugin/**\"";

//  HEADER_SEARCH_PATHS = "$(SRCROOT)/../../../"/**  $(inherited) /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include

//  FRAMEWORKS_SEARCH_PATHS = ${TARGET_BUILD_DIR} "$(SRCROOT)/../../../"/**



//:completeSettings = some
