<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iOS7</key>
	<array>
		<string>AcademyEngravedLetPlain</string>
		<string>AlNile</string>
		<string>AlNile-Bold</string>
		<string>AmericanTypewriter</string>
		<string>AmericanTypewriter-Bold</string>
		<string>AmericanTypewriter-Condensed</string>
		<string>AmericanTypewriter-CondensedBold</string>
		<string>AmericanTypewriter-CondensedLight</string>
		<string>AmericanTypewriter-Light</string>
		<string>AppleColorEmoji</string>
		<string>AppleSDGothicNeo-Bold</string>
		<string>AppleSDGothicNeo-Light</string>
		<string>AppleSDGothicNeo-Medium</string>
		<string>AppleSDGothicNeo-Regular</string>
		<string>AppleSDGothicNeo-SemiBold</string>
		<string>AppleSDGothicNeo-Thin</string>
		<string>Arial-BoldItalicMT</string>
		<string>Arial-BoldMT</string>
		<string>Arial-ItalicMT</string>
		<string>ArialHebrew</string>
		<string>ArialHebrew-Bold</string>
		<string>ArialHebrew-Light</string>
		<string>ArialMT</string>
		<string>ArialRoundedMTBold</string>
		<string>Avenir-Black</string>
		<string>Avenir-BlackOblique</string>
		<string>Avenir-Book</string>
		<string>Avenir-BookOblique</string>
		<string>Avenir-Heavy</string>
		<string>Avenir-HeavyOblique</string>
		<string>Avenir-Light</string>
		<string>Avenir-LightOblique</string>
		<string>Avenir-Medium</string>
		<string>Avenir-MediumOblique</string>
		<string>Avenir-Oblique</string>
		<string>Avenir-Roman</string>
		<string>AvenirNext-Bold</string>
		<string>AvenirNext-BoldItalic</string>
		<string>AvenirNext-DemiBold</string>
		<string>AvenirNext-DemiBoldItalic</string>
		<string>AvenirNext-Heavy</string>
		<string>AvenirNext-HeavyItalic</string>
		<string>AvenirNext-Italic</string>
		<string>AvenirNext-Medium</string>
		<string>AvenirNext-MediumItalic</string>
		<string>AvenirNext-Regular</string>
		<string>AvenirNext-UltraLight</string>
		<string>AvenirNext-UltraLightItalic</string>
		<string>AvenirNextCondensed-Bold</string>
		<string>AvenirNextCondensed-BoldItalic</string>
		<string>AvenirNextCondensed-DemiBold</string>
		<string>AvenirNextCondensed-DemiBoldItalic</string>
		<string>AvenirNextCondensed-Heavy</string>
		<string>AvenirNextCondensed-HeavyItalic</string>
		<string>AvenirNextCondensed-Italic</string>
		<string>AvenirNextCondensed-Medium</string>
		<string>AvenirNextCondensed-MediumItalic</string>
		<string>AvenirNextCondensed-Regular</string>
		<string>AvenirNextCondensed-UltraLight</string>
		<string>AvenirNextCondensed-UltraLightItalic</string>
		<string>BanglaSangamMN</string>
		<string>BanglaSangamMN-Bold</string>
		<string>Baskerville</string>
		<string>Baskerville-Bold</string>
		<string>Baskerville-BoldItalic</string>
		<string>Baskerville-Italic</string>
		<string>Baskerville-SemiBold</string>
		<string>Baskerville-SemiBoldItalic</string>
		<string>BodoniOrnamentsITCTT</string>
		<string>BodoniSvtyTwoITCTT-Bold</string>
		<string>BodoniSvtyTwoITCTT-Book</string>
		<string>BodoniSvtyTwoITCTT-BookIta</string>
		<string>BodoniSvtyTwoOSITCTT-Bold</string>
		<string>BodoniSvtyTwoOSITCTT-Book</string>
		<string>BodoniSvtyTwoOSITCTT-BookIt</string>
		<string>BodoniSvtyTwoSCITCTT-Book</string>
		<string>BradleyHandITCTT-Bold</string>
		<string>ChalkboardSE-Bold</string>
		<string>ChalkboardSE-Light</string>
		<string>ChalkboardSE-Regular</string>
		<string>Chalkduster</string>
		<string>Cochin</string>
		<string>Cochin-Bold</string>
		<string>Cochin-BoldItalic</string>
		<string>Cochin-Italic</string>
		<string>Copperplate</string>
		<string>Copperplate-Bold</string>
		<string>Copperplate-Light</string>
		<string>Courier</string>
		<string>Courier-Bold</string>
		<string>Courier-BoldOblique</string>
		<string>Courier-Oblique</string>
		<string>CourierNewPS-BoldItalicMT</string>
		<string>CourierNewPS-BoldMT</string>
		<string>CourierNewPS-ItalicMT</string>
		<string>CourierNewPSMT</string>
		<string>DINAlternate-Bold</string>
		<string>DINCondensed-Bold</string>
		<string>Damascus</string>
		<string>DamascusBold</string>
		<string>DamascusMedium</string>
		<string>DamascusSemiBold</string>
		<string>DevanagariSangamMN</string>
		<string>DevanagariSangamMN-Bold</string>
		<string>Didot</string>
		<string>Didot-Bold</string>
		<string>Didot-Italic</string>
		<string>DiwanMishafi</string>
		<string>EuphemiaUCAS</string>
		<string>EuphemiaUCAS-Bold</string>
		<string>EuphemiaUCAS-Italic</string>
		<string>Farah</string>
		<string>Futura-CondensedExtraBold</string>
		<string>Futura-CondensedMedium</string>
		<string>Futura-Medium</string>
		<string>Futura-MediumItalic</string>
		<string>GeezaPro</string>
		<string>GeezaPro-Bold</string>
		<string>GeezaPro-Light</string>
		<string>Georgia</string>
		<string>Georgia-Bold</string>
		<string>Georgia-BoldItalic</string>
		<string>Georgia-Italic</string>
		<string>GillSans</string>
		<string>GillSans-Bold</string>
		<string>GillSans-BoldItalic</string>
		<string>GillSans-Italic</string>
		<string>GillSans-Light</string>
		<string>GillSans-LightItalic</string>
		<string>GujaratiSangamMN</string>
		<string>GujaratiSangamMN-Bold</string>
		<string>GurmukhiMN</string>
		<string>GurmukhiMN-Bold</string>
		<string>Helvetica</string>
		<string>Helvetica-Bold</string>
		<string>Helvetica-BoldOblique</string>
		<string>Helvetica-Light</string>
		<string>Helvetica-LightOblique</string>
		<string>Helvetica-Oblique</string>
		<string>HelveticaNeue</string>
		<string>HelveticaNeue-Bold</string>
		<string>HelveticaNeue-BoldItalic</string>
		<string>HelveticaNeue-CondensedBlack</string>
		<string>HelveticaNeue-CondensedBold</string>
		<string>HelveticaNeue-Italic</string>
		<string>HelveticaNeue-Light</string>
		<string>HelveticaNeue-LightItalic</string>
		<string>HelveticaNeue-Medium</string>
		<string>HelveticaNeue-MediumItalic</string>
		<string>HelveticaNeue-Thin</string>
		<string>HelveticaNeue-Thin_Italic</string>
		<string>HelveticaNeue-UltraLight</string>
		<string>HelveticaNeue-UltraLightItalic</string>
		<string>HiraKakuProN-W3</string>
		<string>HiraKakuProN-W6</string>
		<string>HiraMinProN-W3</string>
		<string>HiraMinProN-W6</string>
		<string>HoeflerText-Black</string>
		<string>HoeflerText-BlackItalic</string>
		<string>HoeflerText-Italic</string>
		<string>HoeflerText-Regular</string>
		<string>IowanOldStyle-Bold</string>
		<string>IowanOldStyle-BoldItalic</string>
		<string>IowanOldStyle-Italic</string>
		<string>IowanOldStyle-Roman</string>
		<string>Kailasa</string>
		<string>Kailasa-Bold</string>
		<string>KannadaSangamMN</string>
		<string>KannadaSangamMN-Bold</string>
		<string>MalayalamSangamMN</string>
		<string>MalayalamSangamMN-Bold</string>
		<string>Marion-Bold</string>
		<string>Marion-Italic</string>
		<string>Marion-Regular</string>
		<string>MarkerFelt-Thin</string>
		<string>MarkerFelt-Wide</string>
		<string>Menlo-Bold</string>
		<string>Menlo-BoldItalic</string>
		<string>Menlo-Italic</string>
		<string>Menlo-Regular</string>
		<string>Noteworthy-Bold</string>
		<string>Noteworthy-Light</string>
		<string>Optima-Bold</string>
		<string>Optima-BoldItalic</string>
		<string>Optima-ExtraBlack</string>
		<string>Optima-Italic</string>
		<string>Optima-Regular</string>
		<string>OriyaSangamMN</string>
		<string>OriyaSangamMN-Bold</string>
		<string>Palatino-Bold</string>
		<string>Palatino-BoldItalic</string>
		<string>Palatino-Italic</string>
		<string>Palatino-Roman</string>
		<string>Papyrus</string>
		<string>Papyrus-Condensed</string>
		<string>PartyLetPlain</string>
		<string>STHeitiSC-Light</string>
		<string>STHeitiSC-Medium</string>
		<string>STHeitiTC-Light</string>
		<string>STHeitiTC-Medium</string>
		<string>SavoyeLetPlain</string>
		<string>SinhalaSangamMN</string>
		<string>SinhalaSangamMN-Bold</string>
		<string>SnellRoundhand</string>
		<string>SnellRoundhand-Black</string>
		<string>SnellRoundhand-Bold</string>
		<string>Superclarendon-Black</string>
		<string>Superclarendon-BlackItalic</string>
		<string>Superclarendon-Bold</string>
		<string>Superclarendon-BoldItalic</string>
		<string>Superclarendon-Italic</string>
		<string>Superclarendon-Light</string>
		<string>Superclarendon-LightItalic</string>
		<string>Superclarendon-Regular</string>
		<string>Symbol</string>
		<string>TamilSangamMN</string>
		<string>TamilSangamMN-Bold</string>
		<string>TeluguSangamMN</string>
		<string>TeluguSangamMN-Bold</string>
		<string>Thonburi</string>
		<string>Thonburi-Bold</string>
		<string>Thonburi-Light</string>
		<string>TimesNewRomanPS-BoldItalicMT</string>
		<string>TimesNewRomanPS-BoldMT</string>
		<string>TimesNewRomanPS-ItalicMT</string>
		<string>TimesNewRomanPSMT</string>
		<string>Trebuchet-BoldItalic</string>
		<string>TrebuchetMS</string>
		<string>TrebuchetMS-Bold</string>
		<string>TrebuchetMS-Italic</string>
		<string>Verdana</string>
		<string>Verdana-Bold</string>
		<string>Verdana-BoldItalic</string>
		<string>Verdana-Italic</string>
		<string>ZapfDingbatsITC</string>
		<string>Zapfino</string>
	</array>
	<key>Mac</key>
	<array>
		<string>Arial</string>
		<string>Arial Black</string>
		<string>Helvetica</string>
		<string>Charcoal</string>
		<string>Comic Sans MS</string>
		<string>Courier New</string>
		<string>Gadget</string>
		<string>Geneva</string>
		<string>Georgia</string>
		<string>Impact</string>
		<string>Lucida Grande</string>
		<string>Monaco</string>
		<string>Palatino</string>
		<string>Symbol</string>
		<string>Times</string>
		<string>Times New Roman</string>
		<string>Trebuchet MS</string>
		<string>Verdana</string>
		<string>Webdings</string>
		<string>Zapf Dingbats</string>
	</array>
	<key>Windows</key>
	<array>
		<string>Arial</string>
		<string>Arial Black</string>
		<string>Book Antiqua</string>
		<string>Comic Sans MS</string>
		<string>Courier New</string>
		<string>Georgia</string>
		<string>Impact</string>
		<string>Lucida Console</string>
		<string>Lucida Sans Unicode</string>
		<string>MS Sans Serif</string>
		<string>MS Serif</string>
		<string>Palatino Linotype</string>
		<string>Symbol</string>
		<string>Tahoma</string>
		<string>Times New Roman</string>
		<string>Trebuchet MS</string>
		<string>Verdana</string>
		<string>Webdings</string>
	</array>
	<key>Android</key>
	<array>
		<string>Droid Sans</string>
		<string>Droid Sans Mono</string>
		<string>Droid Serif</string>
		<string>Roboto</string>
	</array>
	<key>Web-Safe</key>
	<array>
		<string>cursive</string>
		<string>monospace</string>
		<string>sans-serif</string>
		<string>serif</string>
	</array>
</dict>
</plist>
